.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.json
history/
dist/
build/
*.dist-info
*.egg-info
*.dist-info
*.egg-info
*.dist-info
*.egg-info
*.info
*.pdiparams
*.pdiparams.info
*.pdmodel
*.pdmodel.info
*.pdparams
*.pdparams.info
*.ini